#define SECRET_WIFI_SSID "MyWiFiName"
#define SECRET_WIFI_PASS "SomethingSecure"
#define SECRET_TRACCAR_HOST "the.url-to-your-traccar.com"
#define SECRET_TRACCAR_PORT 5055
#define SECRET_TRACCAR_ID 123456789